<p>Hi,</p>
<p>
  You have created a QR Menu for <strong><%= @restaurant.name %></strong>.
</p>

<p>To edit your menu or print your QR Code, follow this link: <br></p>
<small>Your QR Code always stays the same!</small>

<div style="position:relative">
  <%= image_tag(attachments.inline["qr-example.png"].url, class:"qr-img") %>
  <%= link_to "Click to view QR Code", restaurant_qrcode_url(@restaurant), class:"btn-qr"%>
</div>

<p>Thanks for joining and have a great day!</p>
<p>Thomas form QR-Code Menu</p>

<style>
  .qr-img {
    height: 125px;
    width:125px;
    margin-left: 23px;
  }
  .btn-qr {
    cursor: pointer;
    background-color: #38b2ac;
    background-color: rgb(56, 178, 172);
    color: #fff;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-color: #38b2ac;
    border-color: rgba(56, 178, 172);
    border-radius: 0.25rem;
    position: absolute;
    left: 0px;
    top: 43px;
  }
</style>
