<p>Hi,</p>
<p>
  You have created a QR Menu for <strong><%= @restaurant.name %></strong>.
</p>
<p>
  To edit your QR Menu, just follow this link: <br>
  <a href="<%= edit_restaurant_url(@restaurant) %>">Edit QR Code Menu</a>.
</p>


<p>Here is your QR Code. It stays the same whatever changes you might later do.</p>
<%#= link_to image_tag("qr-code-example.png", style:"height:75px;width:75px") %>

<%= link_to restaurant_url(@restaurant) do %>
  <%= image_tag(attachments['qr-code-example.png'].url, style:"height: 125px; width:125px;") %>
<% end %>

<p>Thanks for joining and have a great day!</p>
<p>Thomas form QR-Code Menu</p>

