<footer class="flex items-center justify-between text-center flex-wrap bg-white p-6 border-t border-gray-200">
  <div class="flex items-center flex-shrink-0 mx-auto">
    Made with ❤️ for restaurants.
  </div>
</footer>

