<div class="w-full max-w-sm mt-2">
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-3/3" data-target="form.item_wrapper">

        <label class="inline-flex items-center my-3" data-id-input="1">
        <%# <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" checked> %>

        <%# item name input %>
        <span class="w-3/4 ml-2 text-gray-700">
          <input class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" data-id="1" type="text" value="Spaghetti" data-target="form.item_name" data-action="keyup->form#type_item">
        </span>

        <%# currency input %>
        <div class="w-1/4 ml-2 relative rounded-md shadow-sm">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-500 sm:text-sm sm:leading-5">$</span>
          </div>
          <input class="shadow appearance-none border rounded w-full py-2 pl-6 pr-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="5" data-id-item-price="1"  data-target="form.item_price"data-action="keyup->form#type_price">
        </div>

        <%# delete icon %>
        <div class="ml-2 h-5 w-5 cursor-pointer" data-action="click->form#delete_item" data-id="1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#D3D3D3">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </label>

      <%# description field %>
      <span class="ml-2 text-gray-700" data-id-desc-input="1">
        <input class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" data-id-item-description="1" type="text" value="sauce based on 40y old family recipe" data-target="form.item_description" data-action="keyup->form#type_description">
      </span>

    </div>
  </div>
  <span class="underline hover:text-teal-900 cursor-pointer text-teal-700" data-action="click->form#duplicate_item_input">add item</span>
</div>

