<p>Hi,</p>

<p>Die Restaurants in Wien haben dieses Jahr eine schwierige Zeit hinter sich. Von der Beschränkung der Öffnungszeiten, über die Begrenzung der Gästezahl bis hin zum Verlust von Personal.<br>

Um Restaurants dabei zu helfen, hygienischer und effizienter zu sein, haben wir ein digitales QR-Code-Menü-Tool geschaffen.<br>
Es ist völlig kostenlos:<br>
<%= link_to "qrcodemenu.com", root_url %>
</p>

<p>Wir hoffen, dass es <%= @lead.name.titleize %> auch helfen könnte.</p>

<p>Grüße,<p>
<p>QR Code Menu<p>


<style>
  body {
    font-family: "Roboto";
  }
</style>
