@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-link {
  @apply underline cursor-pointer text-teal-700;
}

.input-box {
  @apply shadow appearance-none border rounded py-2 px-4 text-gray-700 leading-tight;
}

.input-label {
  @apply block text-gray-700 font-bold mb-1  pr-4;
}

.input-uploader {
  @apply absolute opacity-0 top-0 right-0 cursor-pointer h-16 w-16;
}


.fileUpload input.upload {
    // position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.active-tab {
  @apply text-teal-600 border-teal-600 border-b-2;
}

.btn-teal {
  @apply cursor-pointer bg-teal-500 text-white font-semibold py-2 px-4 border border-teal-500 rounded;
}
.btn-red {
  @apply cursor-pointer bg-red-500 text-white font-semibold py-2 px-4 border border-red-500 rounded;
}

.page-title {
  @apply text-center mt-3 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 ;
}

