<div class="flex flex-col max-h-screen sticky" style="top:10px;">
  <h3 class="page-title show sm:text-4xl sm:leading-10">
    QR Menu
  </h3>

  <%= render "phone" %>
</div>

<style>
    @media (max-width: 1024px) {
      .page-title.show {
        display: none;
      }

      .link-create-qr.show {
        display:none;
      }

    }
</style>
