<template data-target="form.template_item_phone">
  <div class="flex space-x-2 my-4 justify-between" id="item-NEW_MENU_ITEM" data-target="form.one_item">
    <%= image_tag("icons/photo.svg", class: "h-20 w-20 rounded", id: "item-picture-NEW_MENU_ITEM", data: { target: "form.picture_meal_item", picture_id:"NEW_MENU_ITEM" }) %>

    <div class="w-full">
      <p class="font-semibold flex justify-between">
        <span id="item-name-NEW_MENU_ITEM">Healthy Bowl</span>
        <span id="item-price-NEW_MENU_ITEM"></span>
      </p>
      <small id="item-description-NEW_MENU_ITEM"></small>
    </div>
  </div>
</template>
